.DS_Store
.Python
bin/
build/
*.pyc
include/
lib/
node_modules/
_build/
share/
www/static/.webassets-cache/
www/static/components/
sdk_config.ini
PayPal.log
www/vendor/
composer.lock
composer.phar
www/static/fonts/FontAwesome.otf
www/static/fonts/fontawesome-webfont.eot
www/static/fonts/fontawesome-webfont.svg
www/static/fonts/fontawesome-webfont.ttf
www/static/fonts/fontawesome-webfont.woff