@import "compass/layout/sticky-footer";

@include sticky-footer(100px, "#layout", "#layout-footer", "#footer");

HEADER {
    padding: 40px 0 20px 0;
    position: relative;
    H1 {
        margin: 0 0 5px 0;
    }
    .lead {
        font-size: 16px;
        line-height: 22px;
        color: #999;
        letter-spacing:1px;
        font-style: italic;
    }

    .logo {
        position: absolute;
        top: 10px;
        right: 5px;
        width: 140px;
    }
}

H2 {
    margin: 0 0 20px 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #EEEEEE;
    position: relative;
}

A.deep-link {
    background: url("../img/link_16.png") repeat scroll 0 0 transparent;
    display: block;
    height: 16px;
    margin-top: -8px;
    opacity: 0.1;
    position: absolute;
    top: 50%;
    right: 0px;
    transition: opacity 0.5s linear 0s;
    width: 16px;

    &:hover {
        opacity: 0.75;
    }
}

.en-savoir-plus {
    font-size: 12px;
    text-align: right;
}

.affiche {
    max-width: 420px;
    border: 1px solid black;
    margin-bottom: 20px;
    opacity: 0.4;
    transition: opacity 0.5s linear 0s;

    &:hover {
        opacity: 1;
    }
}

.box {
    background-color: #DCEAF4;
    padding:20px;
    border-radius: 6px 6px 6px 6px;

    H3 {
        margin-top: 0;
    }

    margin-bottom: 20px;
}

SECTION {
    margin-top: 40px;
}

#footer {
    background-color: #F5F5F5;
    border-top: 1px solid #E5E5E5;
    .container {
        text-align: center;
        font-size: small;
        padding: 40px 0;
    }
}

form {
    margin-top: 40px;
}

TABLE.table.table-bordered {
    TH {
        text-align: center;
        vertical-align: middle;
    }

    TD.center {
        text-align: center;
        vertical-align: middle;
    }
}

.well {
    background-color: #f4f4f4;
}

.alert-info {
    background-color: #D9EDF7;
    border-color: #BCE8F1;
    color: #3A87AD;
}
