.logo {
    position: relative;
    padding-left: 64px;
    IMG {
        position: absolute;
        top: 0;
        left: 0;
        height: 70px;
    }
    .lead {
        padding-left: 7px;
        font-size: 16px;
        letter-spacing: 1.5px;
    }
}
#jappix_mini a.jm_pane {
    height: 30px!important;
}
